<div class="container">
  <div class="title">
    <h1 i18n="site header">Secret Santa</h1>
    <h1 i18n="site header">Generator</h1>
    <p i18n>Organize your Secret Santa using Email or Text Message.</p>
  </div>

  <div class="block">
    <button
      *ngIf="!LoginService.isLoggedIn"
      (click)="loginWithG()"
      mat-raised-button
      color="primary"
      i18n
    >
      Sign in with your Google Account
    </button>
    <ng-container *ngIf="LoginService.isLoggedIn && LoginService.userData">
      <h2 i18n>Hello, {{ LoginService.userData.displayName }}!</h2>
      <div>
        <button i18n (click)="logout()" mat-raised-button color="primary">
          Logout
        </button>
      </div>
    </ng-container>
  </div>
  <div class="mainform-container">
    <form class="mainform" [formGroup]="secretSantaFromGroup">
      <mat-vertical-stepper #stepper>
        <mat-step [stepControl]="secretSantaFromGroup.get('firstFormGroup')" >
          <form [formGroup]="secretSantaFromGroup.get('firstFormGroup')">
            <ng-template matStepLabel i18n>Fill out your name</ng-template>
            <div class="row">
              <div class="rowitem">
                <mat-form-field>
                  <mat-label i18n>Name</mat-label>
                  <input
                    matInput
                    placeholder="Last name, First name"
                    [formControl]="
                      secretSantaFromGroup
                        .get('firstFormGroup')
                        .get('host')
                        .get('name')
                    "
                    required
                    i18n-matTooltip
                    matTooltip="A name is required"
                    [matTooltipDisabled]="
                      secretSantaFromGroup
                        .get('firstFormGroup')
                        .get('host')
                        .get('name').valid
                    "
                    matTooltipPosition="above"
                    matTooltipClass="tooltip-error"
                  />
                </mat-form-field>
              </div>

              <div class="rowitem">
                <mat-form-field>
                  <mat-label i18n>Email</mat-label>
                  <input
                    matInput
                    placeholder="Your Email"
                    [formControl]="
                      secretSantaFromGroup
                        .get('firstFormGroup')
                        .get('host')
                        .get('email')
                    "
                    required
                    email
                    i18n-matTooltip
                    matTooltip="Not a valid Email format"
                    [matTooltipDisabled]="
                      secretSantaFromGroup
                        .get('firstFormGroup')
                        .get('host')
                        .get('email').valid
                    "
                    matTooltipPosition="above"
                    matTooltipClass="tooltip-error"
                  />
                </mat-form-field>
              </div>
            </div>

            <h3 i18n>Draw names with</h3>
            <!-- <div *ngIf="firstFormGroup.get('host').get('name').value.length>0" class="row">
            <input
              [(value)]="firstFormGroup.get('host').get('name').value"
              disabled
            />
          </div> -->
            <ng-container *ngFor="let item of getControls(); let i = index">
              <div class="row" [formGroup]="item">
                <div class="rowitem userInput">
                  <mat-form-field>
                    <mat-label i18n>Enter Member {{ i + 2 }}</mat-label>
                    <input
                      matInput
                      placeholder="Last name, First name"
                      formControlName="name"
                      i18n-matTooltip
                      [matTooltip]=" item.get('name').getError('required') || item.get('name').getError('duplicated') "
                      [matTooltipDisabled]="item.get('name').valid"
                      matTooltipPosition="above"
                      matTooltipClass="tooltip-error"
                    />
                  </mat-form-field>
                </div>

                <div class="rowitem userInput">
                  <mat-form-field>
                    <mat-label i18n>Enter Member {{ i + 2 }}'s Email</mat-label>
                    <input
                      matInput
                      placeholder="Email"
                      formControlName="email"
                      email
                      i18n-matTooltip
                      matTooltip="Not a valid Email format"
                      [matTooltipDisabled]="item.get('email').valid"
                      matTooltipPosition="above"
                      matTooltipClass="tooltip-error"
                    />
                  </mat-form-field>
                </div>

                <div class="rowitem">
                  <button
                    *ngIf="getControls().length > 2"
                    (click)="removeItem(i)"
                    mat-icon-button
                    color="error"
                  >
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>
            </ng-container>
            <button (click)="addItem()" mat-icon-button color="primary">
              <mat-icon>add</mat-icon>
            </button>
          </form>
          <button mat-raised-button matStepperNext i18n>Next</button>
        </mat-step>
        <mat-step
          [stepControl]="secretSantaFromGroup.get('exclusiveFormGroup')"
        >
          <form [formGroup]="secretSantaFromGroup.get('exclusiveFormGroup')">
            <ng-template matStepLabel i18n>Set your exclusions </ng-template>
            <ng-container *ngIf="getControls().length > 3;else elsetmpl">
            <div class="row">
              <h3 i18n>Any exlcusion?</h3>
            </div>
            <div class="row">
              <mat-radio-group
                required
                [formControl]="
                  secretSantaFromGroup
                    .get('exclusiveFormGroup')
                    .get('isExclusive')
                "
                name="isExclusive"
                class="radioGp"
              >
                <mat-radio-button
                  class="radioBtn"
                  *ngFor="let isExclusive of isExclusives"
                  [value]="isExclusive.value"
                  [checked]="!isExclusive.value"
                >
                  {{ isExclusive.viewValue }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <ng-container
              *ngIf="
                secretSantaFromGroup
                  .get('exclusiveFormGroup')
                  .get('isExclusive').value
              "
            >
              <ng-container *ngFor="let member of getExclusiveControls()">
                <form [formGroup]="member">
                  <div class="row">
                    {{ member.value.name }}
                  </div>
                  <div class="row">
                    <mat-form-field appearance="fill">
                      <mat-label i18n>Choose the member</mat-label>
                      <mat-select
                        formControlName="exclusive"
                        name="exclusive"
                        multiple
                      >
                        <mat-option
                          *ngFor="let option of memberList"
                          [value]="option"
                          [disabled]="option === member.value.name"
                        >
                          {{ option }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </form>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-template #elsetmpl>
            <div class="row">
              <h3 i18n>There are too few people for exclusions.</h3>
            </div>
          </ng-template>
          </form>
          <button mat-raised-button matStepperNext i18n>Next</button>
        </mat-step>

        <mat-step [stepControl]="secretSantaFromGroup.get('detailFormGroup')">
          <form [formGroup]="secretSantaFromGroup.get('detailFormGroup')">
            <ng-template i18n matStepLabel>Set up gift exchange details</ng-template>
            <div class="row">
              <mat-form-field>
                <mat-label i18n>Group Name</mat-label>
                <input
                  matInput
                  placeholder="My Secret Santa"
                  formControlName="groupName"
                  required
                  i18n-matTooltip
                  matTooltip="A group name is required"
                  [matTooltipDisabled]="
                    secretSantaFromGroup.get('detailFormGroup').get('groupName')
                      .valid
                  "
                  matTooltipPosition="above"
                  matTooltipClass="tooltip-error"
                />
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field>
                <mat-label i18n>Date Of Exchange</mat-label>

                <input
                  type="text"
                  name="dateforSC"
                  matInput
                  placeholder="Date Of Exchange"
                  [matDatepicker]="datePicker"
                  formControlName="dateOfExchange"
                  required
                  i18n-matTooltip
                  matTooltip="Let's pick a date!"
                  [matTooltipDisabled]="
                    secretSantaFromGroup
                      .get('detailFormGroup')
                      .get('dateOfExchange').valid
                  "
                  matTooltipPosition="above"
                  matTooltipClass="tooltip-error"
                />
                <mat-datepicker-toggle
                  [for]="datePicker"
                  matSuffix
                ></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="row">
              <div class="rowitem currency-select">
                <mat-form-field appearance="fill">
                  <mat-label i18n>Choose the currency</mat-label>
                  <mat-select formControlName="currency" name="currency">
                    <mat-option
                      *ngFor="let currency of currencys"
                      [value]="currency.value"
                    >
                      {{ currency.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="rowitem currency-input">
                <mat-form-field>
                  <mat-label i18n>Budget</mat-label>
                  <input
                    matInput
                    placeholder="Budget"
                    formControlName="budget"
                    required
                    pattern="[0-9]+"
                    i18n-matTooltip
                    matTooltip="Set a budget!"
                    [matTooltipDisabled]="
                      secretSantaFromGroup.get('detailFormGroup').get('budget')
                        .valid
                    "
                    matTooltipPosition="above"
                    matTooltipClass="tooltip-error"
                  />
                  <span matPrefix>{{
                    getSymbol(
                      secretSantaFromGroup
                        .get("detailFormGroup")
                        .get("currency").value
                    )
                  }}</span>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <mat-form-field class="stretch">
                <mat-label i18n>Set up themes for gifts</mat-label>
                <mat-chip-list #chipList formControlName="themes">
                  <mat-chip
                    *ngFor="
                      let theme of secretSantaFromGroup
                        .get('detailFormGroup')
                        .get('themes').value
                    "
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(theme)"
                  >
                    {{ theme.name }}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input
                    placeholder="New idea..."
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)"
                  />
                </mat-chip-list>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="stretch">
                <mat-label i18n>Invitation Message</mat-label>
                <textarea
                  matInput
                  placeholder="Invitation Message"
                  formControlName="invitationMessage"
                  required
                  i18n-matTooltip
                  matTooltip="Leave a message!"
                  [matTooltipDisabled]="
                    secretSantaFromGroup
                      .get('detailFormGroup')
                      .get('invitationMessage').valid
                  "
                  matTooltipPosition="above"
                  matTooltipClass="tooltip-error"
                ></textarea>
              </mat-form-field>
            </div>
          </form>
          <button mat-raised-button matStepperNext i18n>Next</button>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel i18n>Send out the invitations!</ng-template>
            <button
            i18n
            (click)="submit()"
            [ngClass]="{ submit: secretSantaFromGroup.valid, submitted: submitted }"
            mat-raised-button
          >
            Submit
          </button>
          <button
          i18n
          *ngIf="submitted"
          [routerLink]="[pagePath]"
          mat-raised-button
        >
          Go to Page
        </button>
        <button           *ngIf="submitted"
         [cdkCopyToClipboard]="pagePath" mat-raised-button color="primary">
          <mat-icon>content_copy</mat-icon>
        </button>

        </mat-step>
      </mat-vertical-stepper>
    </form>
  </div>
</div>
