<div class="container">
  <div class="grid">
    <div class="row" *ngIf="data">
      <h1>{{ data.details.groupName }}</h1>
      <div class="memberTitle" *ngIf="user">
        <div>
          <div class="iconholder person">
            <mat-icon class="person">person_pin</mat-icon>
          </div>
        </div>
        <div>
          <div>{{ user.name }}</div>
          <div *ngIf="user && user.host" i18n>
            Organizer<mat-icon color="primary">stars</mat-icon>
          </div>
        </div>
      </div>
      <!-- <div id='two'>
        <div class='box'>
          <ul>
            <li  *ngFor="let member of memberList">
              {{ member.name }}

            </li>
          </ul>

        </div>
      </div> -->
      <div *ngIf="user && user.host && !data.host.drawn">
        <button
          (click)="drawTheName()"
          mat-raised-button
          color="primary"
          i18n
        >
          Draw the names now
        </button>
      </div>
      <div i18n class="attention" *ngIf="user && !user.host && !data.host.drawn">
        Wait for the organizer to draw the names
      </div>

      <div *ngIf="data.host.drawn">
        <button
          (click)="checkDrawnName()"
          mat-raised-button
          color="primary"
          i18n
        >
          My drawn name
        </button>
      </div>
    </div>
    <ng-container *ngIf="data && !allDrawn">
      <mat-card>
        <mat-card-content>
          <h4 i18n>People haven't viewed their drawn names yet</h4>
          <span *ngFor="let member of memberList">
            <span *ngIf="!member.drawn">{{ member.name }}, </span>
          </span>
          <div i18n>hasn't check the drawn name yet!</div>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <div class="row">
      <div class="subtitle_container">
        <div class="iconholder"><mat-icon>groups</mat-icon></div>
        <h3 i18n>Member List</h3>
      </div>
      <ng-container *ngIf="data">
        <div *ngFor="let member of memberList">
          <div>{{ member.name }}</div>
        </div>
      </ng-container>
    </div>
    <mat-divider></mat-divider>
    <ng-container *ngIf="data">
      <div class="row">
        <div class="subtitle_container">
          <div class="iconholder"><mat-icon>today</mat-icon></div>
          <h3 i18n>Date of the gift exchange</h3>
        </div>
        <div class="rowitem">
         <div>{{ data.details.dateOfExchange.toDate() | date }}   </div>     <span class="spacer"></span>
          <button i18n mat-raised-button color="primary" (click)="downloadIcs()">Add to calendar</button>

        </div>

      </div>
      <mat-divider></mat-divider>
      <div class="row">
        <div class="subtitle_container">
          <div class="iconholder"><mat-icon>emoji_objects</mat-icon></div>

          <h3 i18n>Ideas for the gift exchange</h3>
        </div>
        <mat-chip-list #chipList>
          <mat-chip
            *ngFor="let theme of data.details.themes"
            color="primary"
            selected
          >
            {{ theme.name }}
          </mat-chip>
        </mat-chip-list>
      </div>
      <mat-divider></mat-divider>

      <div class="row">
        <div class="subtitle_container">
          <div class="iconholder"><mat-icon>attach_money</mat-icon></div>
          <h3 i18n>Budget</h3>
        </div>
        <div>
          {{ data.details.budget | currency: data.details.currency }}
        </div>
      </div>
      <mat-divider></mat-divider>

      <div class="row">
        <div class="subtitle_container">
          <div class="iconholder"><mat-icon>message</mat-icon></div>

          <h3 i18n>Send a message to the group</h3>
        </div>
        <div>
          <div class="rowitem">
            <mat-form-field class="textarea-container">
              <textarea [formControl]="messages" matInput placeholder="Ex. Event updates...." (keyup.enter)="leaveMessage()"></textarea>
              </mat-form-field>
              <button (click)="leaveMessage()" mat-icon-button [disabled]="messages.invalid" color="primary"><mat-icon>send</mat-icon></button>
          </div>


<div class="carholder">
  <mat-card class="card" *ngFor="let mes of data.messages">
    <mat-card-content class="card-content">
       {{ mes.message }}
    </mat-card-content>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title
        >{{ mes.name }}</mat-card-title
      >
      <mat-card-subtitle *ngIf="mes.name === data.host.name" i18n>From the host</mat-card-subtitle>
      <mat-card-subtitle>{{ mes.timecode.toDate() | date}}</mat-card-subtitle>

    </mat-card-header>
  </mat-card>
</div>

        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="user && user.host">
      <mat-divider></mat-divider>
      <div class="row">
        <div class="subtitle_container">
          <div class="iconholder">
            <mat-icon color="error">whatshot</mat-icon>
          </div>

          <h3 i18n>It's time to show the results!</h3>
          <div class="iconholder">
            <mat-icon color="error">whatshot</mat-icon>
          </div>
        </div>
        <div
          class="rowitem"
          i18n-matTooltip
          matTooltip="Not all drawn names are viewed yet!"
          [matTooltipDisabled]="allDrawn"
          matTooltipPosition="above"
          matTooltipClass="tooltip-error"
        >
          <div i18n>It's {{ data.details.dateOfExchange.toDate() | date }}</div>
          <button
            mat-button
            [routerLink]="[goToResult]"
            [disabled]="!allDrawn"
            i18n
          >
            Party Time🎉
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
