<div class="container">
  <div class="grid">
    <div class="row" *ngIf="data">
      <h1>{{ data.details.groupName }}</h1>
      <div class="memberTitle" *ngIf="user">
        <div>
          <div class="iconholder person">
            <mat-icon class="person">person_pin</mat-icon>
          </div>
        </div>
        <div>
          <div>{{ user.name }}</div>
          <div *ngIf="user && user.host" i18n>
            Organizer<mat-icon color="primary">stars</mat-icon>
          </div>
        </div>
      </div>

      <div>
        <button
          (click)="checkDrawnName()"
          mat-raised-button
          color="primary"
          i18n
        >
          My drawn name
        </button>
      </div>
    </div>
    <ng-container *ngIf="data">
      <mat-card>
        <mat-card-content>
          <h4 i18n>People haven't viewed their drawn names yet</h4>
          <span *ngFor="let member of memberList">
            <span *ngIf="!member.drawn">{{ member.name }}, </span>
          </span>
          <div i18n>hasn't check the drawn name yet!</div>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <div class="row">
      <div class="subtitle_container">
        <div class="iconholder"><mat-icon>groups</mat-icon></div>
        <h3 i18n>Member List</h3>
      </div>
      <ng-container *ngIf="data">
        <div
          *ngFor="let member of memberList"
        >
          <div>{{ member.name }}</div>
        </div>
      </ng-container>
    </div>
    <mat-divider></mat-divider>
    <ng-container *ngIf="data">
      <div class="row">
        <div class="subtitle_container">
          <div class="iconholder"><mat-icon>today</mat-icon></div>
          <h3 i18n>Date of the gift exchange</h3>
        </div>
        <div>
          {{ data.details.dateOfExchange.toDate() | date }}
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row">
        <div class="subtitle_container">
          <div class="iconholder"><mat-icon>emoji_objects</mat-icon></div>

          <h3 i18n>Ideas for the gift exchange</h3>
        </div>
        <mat-chip-list #chipList>
          <mat-chip
            *ngFor="let theme of data.details.themes"
            color="primary"
            selected
          >
            {{ theme.name }}
          </mat-chip>
        </mat-chip-list>
      </div>
      <mat-divider></mat-divider>

      <div class="row">
        <div class="subtitle_container">
          <div class="iconholder"><mat-icon>attach_money</mat-icon></div>
          <h3 i18n>Budget</h3>
        </div>
        <div>
          {{ data.details.budget | currency: data.details.currency }}
        </div>
      </div>
      <mat-divider></mat-divider>

      <div class="row">
        <div class="subtitle_container">
          <div class="iconholder"><mat-icon>message</mat-icon></div>

          <h3 i18n>Send a message to the group</h3>
        </div>
        <div>
          <mat-card>
            <mat-card-content>
              {{ data.details.invitationMessage }}
            </mat-card-content>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title
                >{{ data.host.name }}{{ data.host.uid }}</mat-card-title
              >
              <mat-card-subtitle i18n>From the host</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="user && user.host">
      <mat-divider></mat-divider>
      <div class="row">
        <div class="subtitle_container">
          <div class="iconholder">
            <mat-icon color="error">whatshot</mat-icon>
          </div>

          <h3 i18n>It's time to show the results!</h3>
          <div class="iconholder">
            <mat-icon color="error">whatshot</mat-icon>
          </div>
        </div>
        <div>
          It's {{ data.details.dateOfExchange.toDate() | date }}
          <button mat-button [routerLink]="[goToResult]" i18n>Party Time🎉</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
