.container{
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  text-align: left;
  align-items: center;

}
.grid{
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}
.row{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap:wrap;
  margin-top:1rem;
  margin-bottom:1rem;

 }
 .rowitem{
  margin-right: 10px;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-around;

}

 .memberTitle{
   display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
 }

 .subtitle_container{
   display: flex;
   align-items: center;
   justify-content: flex-start;
 }

 .iconholder{
   width: 2rem;
 }

 .example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.rounded{
  border-radius: 1rem;
}
